{% extends 'base.html' %}
{% block title %} List {% endblock title %}

{% block script  %}
<script type="text/javascript">

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

$(document).ready(function(){
	
var query = getParameterByName('q')
var tweetList = []
var nextTweetUrl;

// ---------------------------- ---Show tweets from api to HTML page ------------------------------
function attachTweets(tweetValue,prepend){
	var tweetUser = tweetValue.user;
	var dateDisplay = tweetValue.date_display;
	var tweetContent = tweetValue.content;
	var tweetFormattedHTML = 	"<div class=\"media\"> <div class=\"media-body\">" +
								tweetContent + "<br> via " +
								tweetUser.username + " | " +  dateDisplay + " | " +
								"<a href='#'>View</a>" +
								"</div> </div> <hr>"
	if (prepend==true){
	$('#tweet-container').prepend(tweetFormattedHTML)	
	} else {	
	$('#tweet-container').append(tweetFormattedHTML)	
	}
}

function parseTweets(){
	if (tweetList==0) {
		$('#tweet-container').text('No tweets currently found.')
	} 
	else { // tweets exists parse and display them
	$.each(tweetList, function(key,value){
		var tweetUser = key;
		attachTweets(value)
	})
	}
}

// --------------------------------- Fetch tweet dictionay from api -------------------------------------
function fetchTweets(url) {
	console.log('fetching...')
	var fetchUrl;
	if (!url) {
		fetchUrl = '/api/tweet/'
	} else {
		fetchUrl = url
	}
	$.ajax({
		url: fetchUrl,
		data: {
			'q': query
		},
		method: 'GET',
		success: function (data) {
				console.log(data)
				tweetList = data.results
				if (data.next) {
					nextTweetUrl = data.next
				} else {
					$('#loadmore').css('display','none')
					$('#nomoredata').text('No more tweets')
				}
				parseTweets()
		},
		error: function (data) {
			console.log('error')
			console.log(data)
		}	
	})
}
fetchTweets()	

// --------------------------------------- Load More -------------------------------------

// $('#loadmore').bind('click',function(event)(){
// 	event.preventDefault()	                                            ( alternate )
// })

$('#loadmore').click(function(event){
	event.preventDefault()
	if (nextTweetUrl) {
		fetchTweets(nextTweetUrl)
	}
})

// ---------------------------- Counting Tweet Length -------------------------------------
var charsStart = 140
var charsCurrent = 0
$('#tweet-form').append('<span id="tweetCharsLeft"> '+ charsStart +' </span>')

$('#tweet-form textarea').keyup(function(event){
	// console.log(event.key, event.timeStamp)
	// console.log(tweetValue)
	// console.log(tweetValue.length)       (Check length of input tweet)
	
	var tweetValue = $(this).val()
	charsCurrent = charsStart - tweetValue.length
	var spanChars =  $('#tweetCharsLeft')
	spanChars.text(charsCurrent)

	if (charsCurrent>0){
		spanChars.removeClass('grey-color')
		spanChars.removeClass('red-color')

	} else if (charsCurrent==0) {
		spanChars.addClass('grey-color')
		spanChars.removeClass('red-color')
	} else if (charsCurrent<0) {
		spanChars.addClass('red-color')
		spanChars.removeClass('grey-color')
	}
})
// -------------------------------------------------------------------------------------------

$('#tweet-form').submit(function(event){
	event.preventDefault()
	var this_ = $(this)
	// console.log(event)
	var formData =  this_.serialize()
	if (charsCurrent>=0){
		$.ajax({
			url: '/api/tweet/create/',
			data: formData,
			method: 'POST',
			success: function (data) {
				this_.find("input[type=text], textarea").val('')
				attachTweets(data,true)
			},
			error: function (data) {
				console.log('error')
				console.log(data.status)
				console.log(data.statusText)
			}	
		})
	} else {
		console.log("Can't send, tweet too long. ")
	}
})
})

</script>

{% endblock script %}

{% block body %}


<div class="container">
	{% if not request.GET.q %}
	<div class="row">
		{% include 'tweets/form.html' with form=create_form action_url=create_url btn_title="Tweet" form_id="tweet-form" %}
	</div>
	{% endif %}
	<hr>

	<div id="tweet-container">
		
	</div>

	<a href="" id="loadmore"> Load More Tweets </a>
	<p id='nomoredata'>  </p>

</div>
{% endblock body %}
