{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} TweetMe {% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

<style type="text/css">
  .grey-color{
    color: grey;
  }
  .red-color {
    color: red;
  }
</style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">Tweetme</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    {% include 'tweets/tweet_search_form.html' %}
    </div>
</nav>
{% block body %}

{% endblock body %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% block script  %}
{% endblock script %}

<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>